<%- include("header") -%>

<div class="box" id="heading">
  <h1>Home</h1>
</div>

<div class="box">
  <form class="form-item" action="/" method="post">
  <% dbItems.forEach(function(dbItems){ %>
    <a href="/<%=  dbItems.number  %>" target="blank">
      <div class="item">   
        <p><%=  dbItems.number  %></p>
      </div>
    </a>
  <% }); %>
  </form>
      <a href="/item">New Item</a>
</div>

<%- include("footer") -%>
